html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Sunflower", sans-serif;
	font-size: 20px;
	color: #666;
}

h1, h2, h3, h4 {
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	color: #000;
}

h1 {
	font-size: 40px;
	margin-top: 15px;
	margin-bottom: 5px;
	color: #fff;
}

h2 {
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #000;
}

h3 {
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #000;
}

h4 {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: #000;
}

.narrow {
	width: 600px;
	display: inline-block;
}

a {
	text-decoration: none;
	color: #000;
	transition: color 150ms;
}

a:hover {
	color: #f00;
}

.link-red {
	color: #f00;
}

.link-red:hover {
	color: #c00;
}

#join-link, .button-solid {
	background-color: #f00;
	color: #fff;
	transition: background-color 150ms;
}

#join-link {
	padding-left: 12px;
	padding-right: 12px;
	border-radius: 4px;
}

#join-link:hover, .button-solid:hover {
	background-color: #b00;
}

#main {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	margin-top: 60px;
}

.section {
	position: relative;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
}

.section-heading {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 800px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

::selection {
	background-color: #f00;
	color: #fff;
}

::-moz-selection {
	background-color: #f00;
	color: #fff;
}
