@import "common.css";

html, body {
	overflow: hidden;
}

.footer {
	padding: 5px;
	border-top: 1px solid #b3b3b3;
	text-align: center;
	margin-top: 15px;
	position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
}

.social-icon {
	height: 1em;
	vertical-align: middle;
	margin-bottom: 2px;
	margin-right: 5px;
	opacity: 0.6;
	transition: opacity 150ms;
}

.social-icon:hover {
	opacity: 1;
}
