@import "common.css";
@import "page.css";

#gallery {
	width: 100%;
	white-space: nowrap;
	position: relative;
	transition: left 1s;
	transition-timing-function: ease-in-out;
}

.gallery-image {
	width: 50%;
	transition: filter 1s;
	cursor: pointer;
}

.gallery-dark {
	filter: brightness(40%);
}
