@import "common.css";
@import "page.css";

.content-middle {
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.shade {
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
	opacity: 0.8;
	position: absolute;
}

#top {
	height: 500px;
	color: white;
	background-image: url("/images/banner-0.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#top-content {
	width: 700px;
}

#logo-main {
	height: 200px;
}

#skills {
	width: 1000px;
}

.skill {
	margin-top: 15px;
}

.skill-left {
	text-align: left;
}

.skill-right {
	text-align: right;
}

.skill-left img {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.skill-right img {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.skill div {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 350px - 20px);
	margin-left: 5px;
	margin-right: 5px;
}

.skill-image {
	width: 350px;
	height: 260px;
	object-fit: cover;
	object-position: center;
}

#who iframe {
	/* pointer-events: none; */
}

#map {
	height: 450px;
}
